# Core Engines (No PyTorch)
numpy
pandas
onnxruntime-gpu; sys_platform == 'linux' or platform_machine == 'x86_64'
# Если установка onnxruntime-gpu падает, замените на onnxruntime
sherpa-onnx
ctranslate2
sentencepiece

# Logic & Math
scikit-learn
soundfile
tqdm

# Media Processing
ffmpeg-python
yt-dlp

# Utils
pyperclip
langdetect
requests