# Основные ML/TTS/транскрипция
torch
torchaudio
tts >= 0.22.0
whisperx >= 3.1.0
pyannote.audio >= 3.0.0 
transformers >= 4.0.0

# Обработка видео/аудио
ffmpeg-python

# Скачивание с YouTube
yt-dlp

# Вспомогательные
soundfile 
tqdm 
srt >= 3.5.0 # Для парсинга SRT файлов, указана минимальная версия

# Для dev (управляется pre-commit)
# pipreqs