--extra-index-url https://download.pytorch.org/whl/cu121

# Core ML & PyTorch (Фиксируем версию для CUDA 12.1)
torch==2.5.1+cu121
torchaudio==2.5.1+cu121

# Audio Processing & ML (Стабильные версии, совместимые с PyTorch 2.5.1 и Numpy 1.x)
whisperx==3.1.1
pyannote.audio==3.1.1
pyannote.core<6.0
pyannote.metrics<4.0

# LLM Translation (CUDA accelerated wheel)
llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu121

# TTS Engine
soundfile

# Media Processing
ffmpeg-python
yt-dlp

# Utils
pandas
numpy<2.0.0
scikit-learn
tqdm
pyperclip
langdetect
requests
srt
